.github
.DS_Store
docs
kubernetes
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
.idea
venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test
backend/data/*
# на этапе сборки убираем из контейнера файлы с данными и настройками 
# будет смонтирован внутрь контейнера при запуске docker-compose.yaml
backend-data

